!!!5
%html
    %head
        %link{:rel => :stylesheet, :type => :"text/css", :href => "style.css"}
        %link{:rel => :stylesheet, :type => :"text/css", :href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css" }
    %body
        %div.header
            %ul.top_nav
                %li.logo
                    %a{:href => :"#"} SQUAD FREE
                %li 
                    %a{:href => :"#"} CONTACT
                %li 
                    %a{:href => :"#"} SERVICE
                %li 
                    %a{:href => :"#"} ABOUT
                %li 
                    %a{:href => :"#"} HOME

        %div.grid-container
            %div.intro.grid-item
                %h2.welcome_title
                    WELCOME TO THE SQUAD
                %p.welcome_caption
                    WE ARE GROUP OF GENTLEMEN MAKING AWESOME WEB WITH BOOTSTRAP   
           
            %div.about_us.grid-item
                %h2.about_us_title
                    ABOUT US
                %div.people
                    %div.grid-container
                        %div.grid-item
                            %div.item-1    
                                %p.people_title 
                                    ANNA HANACECK
                                %p.people_role
                                    Pixel Crafter 
                                %div.people_picture
                                    %img{:src => "assets/1.jpg"}   
                        %div.grid-item
                            %div.item-2    
                                %p.people_title 
                                    MAURA DANIELS

                                %p.people_role
                                    Ruby on Rails
                                %div.people_picture
                                    %img{:src => "assets/2.jpg"}    
                        %div.grid-item
                            %div.item-3                           
                                %p.people_title 
                                    JACK BRIANE
                                %p.people_role
                                    Typographer
                                %div.people_picture
                                    %img{:src => "assets/3.jpg"}    
                        %div.grid-item
                            %div.item-4
                                %p.people_title 
                                    TOM PETTERSON
                                %p.people_role
                                    jQuery Ninja
                                %div.people_picture
                                    %img{:src => "assets/4.jpg"}
            %div.our_services.grid-item
                %h2.our_services_title
                    OUR SERVICES
                %div.services
                    %div.grid-container
                        %div.grid-item
                            %div.item-1    
                                %div.service_icon
                                    %img{:src => "assets/service-icon-1.png"}
                                %h3.service_title
                                    PRINT     
                                %p.service_statement
                                    Vestibulum tincidunt enim in pharetra malesuada. 
                                    Duis semper magna metus electram accommodare.
                        %div.grid-item
                            %div.item-2    
                                %div.service_icon
                                    %img{:src => "assets/service-icon-2.png"}
                                %h3.service_title
                                    WEB DESIGN
                                %p.service_statement
                                    Vestibulum tincidunt enim in pharetra malesuada. 
                                    Duis semper magna metus electram accommodare.    
                        %div.grid-item
                            %div.item-3                           
                                %div.service_icon
                                    %img{:src => "assets/service-icon-3.png"}
                                %h3.service_title
                                    PHOTOGRAPHY    
                                %p.service_statement
                                    Vestibulum tincidunt enim in pharetra malesuada. 
                                    Duis semper magna metus electram accommodare.     
                        %div.grid-item
                            %div.item-4
                                %div.service_icon
                                    %img{:src => "assets/service-icon-4.png"} 
                                %h3.service_title
                                    CLOUD SYSTEM    
                                %p.service_statement
                                    Vestibulum tincidunt enim in pharetra malesuada. 
                                    Duis semper magna metus electram accommodare.    
            %div.get_in_touch.grid-item
                %h2.get_in_touch_title
                    GET IN TOUCH
                %div.services
                    %div.grid-container
                        %div.grid-item
                            %div.contact_details    
                                %label 
                                    Name
                                %input{:placeholder => "Your Name"}
                                %br
                                %label 
                                    Email
                                %input{:placeholder => "Your Email"}
                                %br
                                
                                %label 
                                    Subject
                                %input{:placeholder => "Subject"}
                        %div.grid-item
                            %div.message_field
                                %label
                                    Message
                                %textarea{:placeholder => "Message"}
                        %div.grid-item.address-item
                            %div.address
                                %h3.adress_title
                                    MAIN OFFICE
                                %div.address_details
                                    %h4 
                                        Squas Design, Inc.
                                    %p 
                                        Tower 795 Folsom Ave, Beautiful Suite 600
                                    %p 
                                        San Francisco, CA 94107
                                    %p 
                                        P: (123) 456-7890
                                %div.address_email
                                    %h4 
                                        Email
                                    %a{:href => ""} email.name@example.come
                                %div.address_social
                                    %ul
                                        %li
                                            %a{:href => ""} 
                                                %i{:class=>"fa fa-facebook-official"}
                                        %li
                                            %a{:href => ""}
                                                %i{:class=>"fa fa-twitter"}
                                        %li
                                            %a{:href => ""} 
                                                %i{:class=>"fa fa-dribble"}
                                        %li     
                                            %a{:href => ""}  
                                                %i{:class=>"fa fa-google-plus"}          
            %div.grid-item.the_end
                %p
                    Copyrights reserved
